@import 'markdown.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  --text: #222;
  --bg: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: rgba(255, 255, 255, 0.88);
    --bg: #222;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

body {
  text-rendering: optimizeLegibility;
  font-feature-settings: 'kern', 'liga', 'calt';
  line-height: 1.75;
  overflow-wrap: break-word;
}

@media (prefers-reduced-motion) {
  * {
    transition: none !important;
    transform: none !important;
  }
}
